{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block title %}Monitora UFF{% endblock %}

{% block script %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type="text/javascript">
    const STATUS_AGENT_OFF = 0;
    const STATUS_AGENT_ON_CAMERA_OFF = 1;
    const STATUS_AGENT_ON_CAMERA_ON = 2;
    const STATUS_UNKNOWN = 3;
    
    const ICONS = {
        status: [
            {icon: "{% static "images/icons/camera-red.png" %}"},
            {icon: "{% static "images/icons/camera-yellow.png" %}"},
            {icon: "{% static "images/icons/camera-green.png" %}"},
            {icon: "{% static "images/icons/camera-white.png" %}"},
        ]
    };
    
    var layers = new Map();
    {% for layer in layer_list %}
    layers.set({{ layer.id }}, {
        name: "{{ layer.name }}",
        controlpoints: []
    });
    {% endfor %}
  
    var controlpoints = new Map();
    {% for controlpoint in controlpoint_list %}
    controlpoints.set({{ controlpoint.id }}, {
        id: "{{ controlpoint.id }}",
        name: "{{ controlpoint.name }}",
        address: "{{ controlpoint.address }}",
        latitude: {{ controlpoint.latitude|unlocalize }},
        longitude: {{ controlpoint.longitude|unlocalize }},
        layer: layers.get({{ controlpoint.layer.id }}),
        cameras: [],
        marker: undefined
    });
    layers.get({{ controlpoint.layer.id }}).controlpoints.push(controlpoints.get({{ controlpoint.id }}));
    {% endfor %}
    
    var cameras = new Map();
    {% for camera in camera_list %}
    cameras.set("{{ camera.tag_slug }}", {
        tag_slug: "{{ camera.tag_slug }}",
        direction: "{{ camera.direction_verbose }}",
        rtsp_url: "{{ camera.rtsp_url }}",
        status: STATUS_AGENT_OFF,
        controlpoint: controlpoints.get({{ camera.controlpoint.id }})
    });
    controlpoints.get({{ camera.controlpoint.id }}).cameras.push(cameras.get("{{ camera.tag_slug }}"));
    {% endfor %}
</script>    
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="w3-padding-large" id="map-canvas"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkGYZPNefP8ERD-xS1y_2RTHPxn-rFSdE&callback=initMap"></script>

{% else %}
<div class="naoAutorizado">
    <h1>Acesso não autorizado</h1>
    <h2>Realize o login</h2>
</div>

{% endif %}
{% endblock %}