{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block title %}Monitora UFF{% endblock %}

{% block content %}
<main class="placaView">
    <img class="carro" src="{% static 'images/carro.jpg' %}">
    <table class="js-dynamitable table table-bordered" id = 'infoCar'>
        <tbody>
            <tr>
                <th>Marca</th>
                <td>xxxx</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>xxx</td>
            </tr>
            <tr>
                <th>Placa</th>
                <td>{{ placa.license_plate }}</td>
            </tr>
            <tr>
                <th>Ano</th>
                <td>xxxx</td>
            </tr>
            <tr>
                <th>Cor</th>
                <td>xxxx</td>
            </tr>
        </tbody>        
    </table>
    
    <div class="table-responsive"> 
        <table class="js-dynamitable table table-bordered" id="tablesorter">
            <thead>
                <tr>
                    <th>
                        Campi
                        <span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span> 
                        <span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span>
                    </th>
                    <th>
                        Local
                        <span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span> 
                        <span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span>
                    </th>
                    <th>
                        Latitude
                        <span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span> 
                        <span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span>
                    </th>
                    <th>
                        Longitude
                        <span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span> 
                        <span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span>
                    </th>
                    <th>
                        Direção
                        <span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span> 
                        <span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span>
                    </th>
                    <th>
                        Data e hora
                        <span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span> 
                        <span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span>
                    </th>
                </tr>
                <tr>
                    <th><input class="js-filter form-control" type="text" value=""></th>
                    <th><input class="js-filter form-control" type="text" value=""></th>
                    <th><input class="js-filter form-control" type="text" value=""></th>
                    <th><input class="js-filter form-control" type="text" value=""></th>
                    <th><input class="js-filter form-control" type="text" value=""></th>
                    <th><input class="js-filter form-control" type="text" value=""></th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    {% for placa in placa_list %}
                            <td>{{ placa.layer }}</td>
                            <td>{{ placa.address }}</td>
                            <td>{{ placa.latitude }}</td>
                            <td>{{ placa.longitude }}</td>
                            <td>{{ placa.direction }}</td>
                            <td>{{ placa.detection_date }}</td>
                            </tr>
                    {% endfor %}</tr>
            </tbody>
        </table>
    </div>

</main>

{% endblock %}