{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block title %}Monitora UFF{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'style/style.css' %}">{% endblock %}

{% block script %}
	<!-- jQuery e Tablesorter -->
	<script src="{% static 'js/jquery-latest.js' %}"></script>
	<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
	<!-- Meu script -->
	<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<table class="tablesorter" id="tablesorter">
	<thead>
		<tr>
			<th>Campi</th>
			<th>Ponto de controle</th>
			<th>Endereço</th>
			<th>Longitude</th>
			<th>Latitude</th>
			<th>Tag-Slug</th>
            <th>Direção</th>
            <th>Placa</th>
            <th>Data e hora</th>
		</tr>
        <tr>
            <th><input type="text" id="txtColuna1"/></th>
            <th><input type="text" id="txtColuna2"/></th>
            <th><input type="text" id="txtColuna3"/></th>
            <th><input type="text" id="txtColuna4"/></th>
            <th><input type="text" id="txtColuna5"/></th>
            <th><input type="text" id="txtColuna6"/></th>
            <th><input type="text" id="txtColuna7"/></th>
            <th><input type="text" id="txtColuna8"/></th>
            <th><input type="text" id="txtColuna9"/></th>
        </tr> 


	</thead>
    <tbody>
		<tr>
            {% for placa in placa_list %}
                    <td>{{ placa.layer }}</td>
                    <td>{{ placa.name }}</td>
                    <td>{{ placa.address }}</td>
                    <td>{{ placa.latitude }}</td>
                    <td>{{ placa.longitude }}</td>
                    <td>{{ placa.tag_slug }}</td>
                    <td>{{ placa.direction }}</td>
                    <td>{{ placa.license_plate }}</td>
                    <td>{{ placa.detection_date }}</td>
                    </tr>
            {% endfor %}</tr>
	</tbody>
</table>
{% else %}
<h1>Acesso não autorizado</h1>
<h2>Realize o login</h2>
{% endif %}
{% endblock %}




